@()

<style>
		.strTable > thead > tr > th, .strTable > tbody > tr > th, .strTable > tfoot > tr > th,
		.strTable > thead > tr > td, .strTable > tbody > tr > td, .strTable > tfoot > tr > td {
			vertical-align: middle;
			text-align: center;
		}

		#locusModal #detailTable tr td:last-child {
			max-width: 50px;
			width: 50px;
			overflow-wrap: break-word;
		}

</style>

<div id="result" style="display: none">
	<div class="row">
		<div class="col-md-12 col-sm-12">

			<div class="portlet blue-dark box">
				<div class="portlet-title">
					<div class="caption" style="cursor: pointer;
						width: 98%" onclick="Tool.expand(this)">
						基本信息(<span id="id" class="id"></span>)
					</div>
					<div class="tools">
						<a class="collapse" id="removeClick" disabled="true"></a>
					</div>
				</div>
				<div class="portlet-body" id="noCotent" >
					<div class="tab-pane active" id="tab_1">
						<div class="tab-pane active" id="tab_1">
							<div class="form-inline  myInline" id="basicInfo">

							</div>

						</div>
					</div>
					<div class="tab-pane active" id="tab_1">
						<div class="row" style="">
							<div class="col-sm-12" style="">
								<div id="statChart" style="max-width: 50%;
									width: 600px" class="col-sm-6"></div>
								<div id="boxPlotChart" style="max-width: 50%;
									width: 600px" class="col-sm-6"></div>
							</div>
						</div>

					</div>
				</div>
				<div>
				</div>
			</div>

			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#autoStr" data-toggle="tab" > Autosomal STRs </a>
				</li>
				<li class="">
					<a href="#yStr" data-toggle="tab" aria-collapseed="false"> Y STRs </a>
				</li>
				<li>
					<a href="#xStr" data-toggle="tab"> X STRs </a>
				</li>
				<li>
					<a href="#snp" data-toggle="tab"> iSNPs </a>
				</li>
			</ul>

			<div id="myTabContent" class="tab-content">

				<div class="tab-pane fade in active" id="autoStr">
					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								Autosomal STRs位点深度信息柱状图(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1" >
								<div id="barChart" ></div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								Autosomal STRs位点长度信息散点图(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div id="scatterChart" style="max-width: 100%"></div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								Autosomal STRs位点深度信息(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div class="form-inline  myInline" id="data">
								</div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								Autosomal STRs原始结果数据(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" ></a>
							</div>

						</div>

						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div class="table-responsive">
									<table class="display table table-bordered" id="seqTable" data-pagination="true" data-search="true"
									data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">
										<thead>
										</thead>
									</table>
								</div>
							</div>
						</div>
						<div>
						</div>
					</div>
				</div>

				<div class="tab-pane" id="yStr">
					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								Y STRs位点深度信息柱状图(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div id="barChart" style="max-width: 100%"></div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								Y STRs位点长度信息散点图(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div id="scatterChart" style="max-width: 100%"></div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								Y STRs位点深度信息(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>

						</div>

						<div class="portlet-body" id="noCotent" style="display: none">

							<div class="tab-pane active" id="tab_1">
								<div class="form-inline  myInline" id="data">

								</div>

							</div>

						</div>

						<div>

						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								Y STRs原始结果数据(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" ></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div class="table-responsive">
									<table class="display table table-bordered" id="seqTable" data-pagination="true" data-search="true"
									data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">
										<thead>
										</thead>
									</table>
								</div>
							</div>
						</div>
						<div>
						</div>
					</div>
				</div>

				<div class="tab-pane" id="xStr">
					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								X STRs位点深度信息柱状图(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div id="barChart" style="max-width: 100%"></div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								X STRs位点长度信息散点图(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div id="scatterChart" style="max-width: 100%"></div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								X STRs位点深度信息(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>

						</div>

						<div class="portlet-body" id="noCotent" style="display: none">

							<div class="tab-pane active" id="tab_1">
								<div class="form-inline  myInline" id="data">

								</div>

							</div>

						</div>

						<div>

						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								X STRs原始结果数据(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" ></a>
							</div>

						</div>

						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div class="table-responsive">

									<table class="display table table-bordered" id="seqTable" data-pagination="true" data-search="true"
									data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">
										<thead>

										</thead>
									</table>
								</div>
							</div>
						</div>
						<div>
						</div>
					</div>
				</div>

				<div class="tab-pane" id="snp">
					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								iSNPs位点深度信息柱状图(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div id="barChart" style="max-width: 100%"></div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								iSNPs位点长度信息散点图(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>
						</div>
						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div id="scatterChart" style="max-width: 100%"></div>
							</div>
						</div>
						<div>
						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								iSNPs位点深度信息(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" disabled="true"></a>
							</div>

						</div>

						<div class="portlet-body" id="noCotent" style="display: none">

							<div class="tab-pane active" id="tab_1">
								<div class="form-inline  myInline" id="data">

								</div>

							</div>

						</div>

						<div>

						</div>
					</div>

					<div class="portlet blue-dark box">
						<div class="portlet-title">
							<div class="caption" style="cursor: pointer;
								width: 98%" onclick="Tool.expand(this)">
								iSNPs原始结果数据(<span id="id" class="id"></span>)
							</div>
							<div class="tools">
								<a class="expand" id="removeClick" ></a>
							</div>

						</div>

						<div class="portlet-body" id="noCotent" style="display: none">
							<div class="tab-pane active" id="tab_1">
								<div class="table-responsive">

									<table class="display table table-bordered" id="seqTable" data-pagination="true" data-search="true"
									data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-multiple-search="true">
										<thead>

										</thead>
									</table>

								</div>


							</div>


						</div>


						<div>

						</div>
					</div>


				</div>

			</div>
		</div>
	</div>
</div>

<div id="locusModal" class="modal fade myModal">
	<div class="modal-dialog" style="width: 600px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" data-dismiss="modal" aria-hidden="true" class="close">
							&times;</button>
				<h4 class="modal-title">
					<span id="number" class="locus"></span>(<span id="number" class="id"></span>)</h4>
			</div>
			<div class="modal-body">


				<div class="table-responsive" id="tableContent">
					<table class="display table table-bordered detailTable" id="detailTable"

					>
						<thead>
						</thead>
					</table>

				</div>
				<hr>
				<div align="center">
					<div id="strDetailChart" style=""></div>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default ">关闭</button>
			</div>
		</div>
	</div>
</div>

<div id="snpModal" class="modal fade myModal">
	<div class="modal-dialog" style="width: 600px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" data-dismiss="modal" aria-hidden="true" class="close">
							&times;</button>
				<h4 class="modal-title">
					<span id="number" class="locus"></span>(<span id="number" class="id"></span>)</h4>
			</div>
			<div class="modal-body">

				<div class="table-responsive" id="tableContent">
					<table class="display table table-bordered detailTable" id="detailTable" style="word-break: break-all"

					>
						<thead>
						</thead>
					</table>

				</div>
				<hr>
				<div align="center">
					<div id="detailChart" style=""></div>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn-default ">关闭</button>
			</div>
		</div>
	</div>
</div>


<script>
		$(function () {
		    SampleDetail.init


		})


</script>
