@()

<div id="result" style="display: none">
	<div class="row">
		<div class="col-md-12 col-sm-12">

			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab_0" data-toggle="tab" aria-expanded="true"> Autosomal STRs </a>
				</li>
				<li class="">
					<a href="#tab_1" data-toggle="tab" aria-expanded="false"> Y STRs </a>
				</li>
				<li>
					<a href="#tab_2" data-toggle="tab"> X STRs </a>
				</li>
				<li>
					<a href="#tab_3" data-toggle="tab"> iSNPs </a>
				</li>
			</ul>


			<div class="portlet blue-dark box">
				<div class="portlet-title">
					<div class="caption">
						Reads信息可视化展示(<span id="id"></span>)
					</div>

				</div>

				<div class="portlet-body" id="noCotent">


					<div class="tab-pane active" id="tab_1">

						<div id="chart" style="max-width: 100%"></div>


					</div>


				</div>


				<div>

				</div>
			</div>
		</div>
	</div>

</div>

<script>
		$(function () {

		})


</script>
